<div class="chatBlock">
  <a href="/">
    <div>
      <p><%= block.username %></p>
      <p><%= block.content %></p>
      <div>
         <p><%= block.created_at %></p>
      </div>
    </div>
  </a>
</div>
