<form method="POST" action="/new">
  <label>
    name:<br>
    <input name="name" minlength="3" maxlength="20" required/>
  </label>
  <label>
    comment:<br>
    <input name="comment" minlength="4" maxlength="320" required/>
  </label>
  <button type="submit">new message</button>
</form>
