<form method="POST" action="/user">
  <label>
    comment:<br />
    <textarea name="comment" minlength="4" maxlength="320" required></textarea>
  </label>
  <button type="submit">new message</button>
</form>
