<div class="scroll">
  <% if (messages && messages.length > 0) { %> <%
  messages.forEach(function(block) { %> <%-
  include('./chatBlock.views.ejs', { block: block }) %> <% }) %> <% }
  else { %>
  <p>no message</p>
  <% } %>
</div>
