<div class="scroll">
  <% if (messages && messages.length > 0) { %> <%
  messages.forEach(function(block) { %> <%-
  include('components/chatBlock.views.ejs', { user: block.user, text:
  block.text, time: block.added.toLocaleTimeString([], { hour: '2-digit',
  minute: '2-digit' }), date: block.added.toLocaleDateString() }) %> <% }); %>
  <% } else { %>
  <p>no message</p>
  <% } %>
</div>
