@media (max-width: 425px) {
  :root {
    --header-height: 8%;
  }

  header,
  footer {
    padding: 10px 20px;

    font-size: 1rem;
  }

  main {
    flex-direction: column-reverse;
  }

  main > div:first-child {
    height: 70%;
  }

  main > div:last-child {
    height: 30%;
    align-content: center;
  }

  textarea {
    height: 80px;
  }
}
